<script>$(function (){ $("#myNavbar").find("[href='/user/login']").parent().addClass("active"); })</script>

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Capstone.Web.Models.LoginModel

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">

        @using (Html.BeginForm("Login", "User", FormMethod.Post))
        {

            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { placeHolder = "Email", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { placeHolder = "Password", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <button type="submit" class="btn btn-default">Log In</button>
        }

        @Html.ValidationMessage("invalid-login")

    </div>
    <div class="col-sm-4"></div>



</div>